*{
	margin:0;
}

.main{
	width:1280px;
	margin:0 auto;
	background:url(../img/sota5.jpg);
}

.head{
	display:flex;
	justify-content:space-between;
	background-color:#F29D00;
	height:100px;
	align-items:center;
	border:3px solid #B9C3DA;
	border-radius:12px;
	margin-bottom:2px;
}

.head a{
	margin-left:15px;
}

.a{
	font-size:50px;
	font-weight:bold;
	color:#fff;
	margin-right:50px;
}

.b{
	margin-right:15px;
}

.content1{
	display:flex;
	justify-content:space-between;
	margin-bottom:3px;
}

.content1 img{
	border:2px solid #B9C3DA;
	border-radius:12px;
	margin-left:10px;
}

.content1 p{
	display:flex;
	align-items:center;
	font-size:35px;
	color:#542a00;
	font-weight:bold;
	
}

.p{
	margin-top:50px;
}

.footer{
	height:50px;
	border:2px solid #B9C3DA;
	border-radius:15px;
	margin-top:3px;
	background-color:#F29D00;
}

.footer p{
	margin-top:10px;
	margin-left:380px;
	color:#fff;
	font-family:Verdana;
	font-weight:bold;
	font-size:18px;
}

.cart{
	margin-left:10px;
}
